/* .home-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: initial;
    background-image: url('../../images/fondo-g.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
} */